.footer{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #37b4b4;
    // background-color: rgb(75, 70, 70);
    padding: 20px;
    box-sizing: border-box;
    // opacity: .8;
    p{
        padding: 10px;
        a{
            color: #14b1b1;
            text-shadow: 2px 2px 2px rgb(24, 54, 24);
        }
    }
}