.messageExplainBox{
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 40px;
    font-size: 15px;
    img{
        max-width: 100%;
        border-radius: 10px;
    }
    h1{
        margin: 10px 0;
        font-size: 25px;
        font-weight: 700;
        text-align: center;
        line-height: 30px;
    }
    section{
        p{
            font-size: 20px;
            font-family: 'webfont';
            line-height: 1.5em;
            font-weight: 600;
        }
    }
    footer{
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
        h2{
            font-weight: 600;
        }
    }
}