.blogListBox{
   .blog{
    opacity: .8;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 40px;
    h1{
        text-align: center;
        border-radius: 15px;
        background: #fff;
        padding:5px;
        font-size: 20px;
        font-weight: 600;
       a{
        &:hover{
            color:rgb(160, 106, 90);
        }
       }
    }

    p.description{
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 2em;
        font-size: 16px;
        font-weight: 500;
    }
    .tags{
        display: flex;
        justify-content: flex-end;
        p{
            display: inline-block;
            margin: 5px 10px;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: 600;
        }
    }
   }
   .el-pagination{
    display: flex;
    justify-content: center;
   
    button{
        min-width: 40px !important;
        min-height: 40px;
        line-height: 40px;
    }
    li{
     min-width: 40px !important;
     min-height: 40px;
     font-size: 16px;
     line-height: 40px;
     &.btn-quicknext,&.btn-quickprev{
         line-height: 40px;
     }
    }
}
}